.header {
    background: var(--offBlack);
    color: var(--lightGray);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
}

.header a {
    color: inherit;
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
}

.header a:focus,
.header a:hover {
    color: var(--link);
}

.content {
    margin: 3rem auto;
    max-width: 54ch;
}